{% assign all_events = site.events | concat: site.lectures %}
{% assign all_events = all_events | concat: site.assignments %}

{% assign events_to_show = "" | split: "" %}
{% for e in all_events %}
    {% unless e.hide_from_announcments %}
        {% if e.date <= site.time %}            
            {% assign events_to_show = events_to_show | push: e %}
        {% endif %}
    {% endunless %}
{% endfor %}

{% assign all_events = events_to_show | concat: site.announcements %}
{% assign all_events_sorted = all_events | sort: 'date' | reverse %}

{% if all_events_sorted.size > 0 %}
<div class="announcement-box" style="margin-top:30px">
<h2>Updates</h2>
<ul>
    {% for n in all_events_sorted limit:7 %}
    <li class="no-p-margin">
        {% if n.type %}
            {% if n.type == 'lecture' %}
                New Lecture is up: {{ n.title }}
                {% include lecture_links.html lecture=n %}
                {% assign today_date = 'now' | date: "%Y-%m-%d %H:%M" %}
                {% assign post_date = n.date | date: "%Y-%m-%d %H:%M" %}

                {{today_date}}
            {% elsif n.type == 'assignment' %}
                New Assignment released: [<a href="{{ n.url | prepend: site.baseurl }}">{{ n.title }}</a>]
            {% else%}
                {{ n.description }}
            {% endif %}
        {% else %}
        {{ n.content }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>

<time id="postedon" datetime="{{ page.date | date_to_xmlschema }}">
    posted <span id="postedago"></span>
    on {{ page.date | date: "%B %-d, %Y" }}
</time>
function ago(date) {
    function render(n, unit) {
        return n + " " + unit + ((n == 1) ? "" : "s") + " ago";
    }

    var seconds = Math.floor((new Date() - date) / 1000);

    var interval = Math.floor(seconds / (60 * 60 * 24 * 365));
    if (Math.floor(seconds / (60 * 60 * 24 * 30 * 365)) >= 1) {
        return render(interval, "year");
    }
    interval = Math.floor(seconds / (60 * 60 * 24 * 30));
    if (interval >= 1) {
        return render(interval, "month");
    }
    interval = Math.floor(seconds / (60 * 60 * 24));
    if (interval >= 1) {
        return render(interval, "day");
    }
    interval = Math.floor(seconds / (60 * 60));
    if (interval >= 1) {
        return render(interval, "hour");
    }
    interval = Math.floor(seconds / 60);
    if (interval >= 1) {
        return render(interval, "minute");
    }
    interval = Math.floor(seconds);
    return render(interval, "second");
}

var date = Date.parse(document.getElementById("postedon").getAttribute("datetime"));
document.getElementById("postedago").innerHTML = ago(date);
