<script>
    document.getElementById("myFrame").onload = function() {myFunction()};

    function myFunction() {
        var array = [1, 2, 3, 4, 5, 6, 7]
        var threshold = new Date('December 17, 1995 03:24:00');
        var present = new Date();
        var three_days_before = new Date()
        three_days_before.setDate(present.getDate() - 3);
        document.getElementById("demo").innerHTML = three_days_before;
    }
</script>

{% assign all_events = site.events | concat: site.lectures %}
{% assign all_events = all_events | concat: site.assignments %}

{% assign events_to_show = "" | split: "" %}
{% for e in all_events %}
    {% unless e.hide_from_announcments %}
        {% if e.date >= site.time %}            
            {% assign events_to_show = events_to_show | push: e %}
        {% endif %}
    {% endunless %}
{% endfor %}

{% assign all_events = events_to_show | concat: site.announcements %}
{% assign all_events_sorted = all_events | sort: 'date' | reverse %}

{% if all_events_sorted.size > 0 %}
<div class="announcement-box" style="margin-top:30px">
    <iframe id="myFrame" src="/default.asp"></iframe>
    <p>yeah!</p>
                    <p id="demo"></p>
<h2>Updates</h2>
<ul>
    {% for n in all_events_sorted limit:7 %}
        <li class="no-p-margin">
            {% if n.type %}
                {% if n.type == 'lecture' %}
                    New Lecture is up: {{ n.title }}
                    {% include lecture_links.html lecture=n %}
                    {% assign today_date = Date.now() | date: "%Y-%m-%d %H:%M" %}
                    {% assign post_date = n.date | date: "%Y-%m-%d %H:%M" %}
                    
                {% elsif n.type == 'assignment' %}
                    New Assignment released: [<a href="{{ n.url | prepend: site.baseurl }}">{{ n.title }}</a>]
                {% else%}
                    {{ n.description }}
                {% endif %}
            {% else %}
            {{ n.content }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}
</div>


